.back-img {
  opacity: 10%;
  height: 85vh;
  width: 90vw;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}

.page-border {
  border: 3px solid $app-primary-font-color;
  width: 90vw;
  height: 85vh;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  line-height: 1.7rem;

  .page-ctn H2 {
    height: 50px;
  }
}
.btn-home {
  margin-top: 50px;
}

@media screen and (min-width: $app-tablet) {
  .back-img {
    height: 85vh;
    width: 88vw;
  }

  .page-border {
    border: 3px solid $app-primary-font-color;
    width: 90vw;
    height: 88vh;
  }
  .page-ctn {
    H2 {
      margin: 2rem;
    }
  }
}

@media screen and (min-width: $app-desktop) {
  .page-ctn {
    H2 {
      margin: 2rem;
    }
  }
}
