.container_password_reset_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 80vh;

  .password_reset_form_input_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;

    input {
      margin-top: 4rem;
    }
  }

  p {
    margin-top: 0;
  }
}

button {
  margin-bottom: 1rem;
  width: 200px;
}

p {
  margin-top: 3rem;
  text-align: center;
  position: relative;
  bottom: 0;
  color: $font-family-title-color;
  &:hover {
    color: $app-supporting-color2;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: $app-desktop) {
  p {
    margin-top: 4rem;
  }
}
