@mixin button-pen-modification($width, $height) {
  background-color: $app-bg-color;
  border-style: none;
  margin-left: 1rem;
  cursor: pointer;

  .pen-img {
    width: $width;
    height: $height;
  }

  &:hover {
    background-color: $app-bg-color-button;
    border: solid 2px $app-bg-color-button;
  }
}

.hide-button-modif {
  display: none;
}
